:root {
  --gradient: linear-gradient(
    45deg,
    #ec0000,
    #ffbf00,
    #ffa43c,
    #9e0000,
    #440000,
    #2f0000
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
