:root {
  --gradient: linear-gradient(
    45deg,
    #7500af,
    #5900ff,
    #9455ff,
    #ae16ff,
    #da94ff,
    #7d00e3
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
